---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import AlbumPopover from "@/components/AlbumPopover";

interface Props {
  id: string;
}

const { id } = Astro.props;

const imagePath = `/src/assets/albums/${id}.jpg`;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/albums/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(`"${imagePath}" does not exist in glob"`);

type MusicData = {
  artist: string;
  title: string;
  link: string;
  notes?: string[];
};

const musicDataMap: {
  [key: string]: MusicData;
} = {
  punisher: {
    artist: "Phoebe Bridgers",
    title: "Punisher",
    link: "https://music.apple.com/us/album/punisher/1504699857",
  },
  "passage-du-desir": {
    artist: "Johnny Blue Skies",
    title: "Passage Du Desir",
    link: "https://music.apple.com/us/album/passage-du-desir/1749134766",
  },
  "norman-f-g-rockwell": {
    artist: "Lana Del Rey",
    title: "Norman F***ing Rockwell",
    link: "https://music.apple.com/us/album/norman-f-g-rockwell/1474669063",
    notes: ["The greatest", "California"],
  },
  "did-you-know-that-theres-a-tunnel-under-ocean-blvd": {
    artist: "Lana Del Rey",
    title: "Did You Know That There's a Tunnel Under Ocean Blvd",
    link: "https://music.apple.com/us/album/did-you-know-that-theres-a-tunnel-under-ocean-blvd/1655349115",
    notes: ["Sweet", "Kintsugi"],
  },
  "my-beautiful-dark-twisted-fantasy": {
    artist: "Kanye West",
    title: "My Beautiful Dark Twisted Fantasy",
    link: "https://music.apple.com/us/album/my-beautiful-dark-twisted-fantasy/1440742903",
  },
  javelin: {
    artist: "Sufjan Stevens",
    title: "Javelin",
    link: "https://music.apple.com/us/album/javelin/1700723922",
  },
  "art-angels": {
    artist: "Grimes",
    title: "Art Angels",
    link: "https://music.apple.com/us/album/art-angels/1051022913",
  },
  "short-n-sweet": {
    artist: "Sabrina Carpenter",
    title: "Short N Sweet",
    link: "https://music.apple.com/us/album/short-n-sweet/1750307020",
  },
};

const { artist, title, link, notes } = musicDataMap[id];
---

<div class="max-w-48">
  <div class="flex flex-col">
    <a href={link}><Image src={images[imagePath]()} alt={title} /></a>
    <h3 class="text-2xl font-semibold">{title}</h3>
    <div class="text-lg text-zinc-500">
      {artist}
      <AlbumPopover client:load content={notes} />
    </div>
  </div>
</div>
